/*Autor: Camila Galvan Torres
Programa: index.html
Lenguaje: Html
Universidad: Lobos Alamedas
Fecha: 23/10/2024*/
.Cuerpo00 {

    background-color: blueviolet;
}

.Cuerpo01 {

    background-color:blue
}

.Cuerpo02 {

    background-color: rgb(43, 226, 226);
}

.Cuerpo03 {

    background-color:blue
}

.Cuerpo04 {

    background-color: rgb(43, 226, 226);
}
.Cuerpo05 {

    background-color:blue
}


